body{
  background-image: url("images/background.jpg");
}

.navbar-brand{
  font-family: 'Great Vibes', cursive;
  font-family: 'Dancing Script', cursive;
  font-family: 'Pacifico', cursive;
  font-family: 'Satisfy', cursive;
}

li {
  font-family: 'Courgette', cursive;
}
