{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}
{% block content %}
  <link rel="stylesheet" type="text/css" href="{% static 'blog/style.css' %}">

  <div class="card">
    <div class="card-body">
      <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
          <h3>Are you sure that you want to delete this post?</h3>
          <h3>"{{ object.title }}"</h3>
          {{ form|crispy }}
        </fieldset>
        <div class="form-group">
          <button class="btn btn-outline-danger" type="submit">Yes, I do</button>
          <a class="btn btn-outline-primary" href="{% url 'post-detail' object.id %}">No, I don't</a>
        </div>
      </form>
    </div>
  </div>
{% endblock content %}
