{% extends "blog/base.html" %}
{% load staticfiles %}
{% block content %}
  <!-- Title -->
  <link href="https://fonts.googleapis.com/css?family=Indie+Flower&display=swap" rel="stylesheet">
  <!-- content -->
  <link href="https://fonts.googleapis.com/css?family=Merriweather&display=swap" rel="stylesheet">
  <!-- Name Font -->
  <link href="https://fonts.googleapis.com/css?family=Satisfy&display=swap" rel="stylesheet">
  <!-- CSS Loading -->
  <link rel="stylesheet" type="text/css" href="{% static 'blog/style.css' %}">

  <article class="media content-section">
    <div class="media-body">
      <div class="article-metadata">
        <a class="mr-2 name-font" href="{% url 'user-post' object.author.username %}">{{ object.author }}</a>
        <small class="text-muted">{{ object.release_date|date:"F d, Y" }}</small>
        {% if object.author == user %}
        <div>
          <a class="btn btn-info" href="{% url 'update-post' object.id %}">update</a>
          <a class="btn btn-danger"  href="{% url 'delete-post' object.id %}">delete</a>
        </div>
        {% endif %}
      </div>
      <h2 class="article-title title-font">{{ object.title }}</h2>
      <p class="article-content content-font">{{ object.content|safe }}</p>
    </div>
  </article>
{% endblock content %}
