{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}
{% block content %}
  <link rel="stylesheet" type="text/css" href="{% static 'blog/style.css' %}">

  <div class="card">
    <div class="card-body">
      <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
          <h4 class="font-weight-normal">New Password</h4>
          {{ form|crispy }}
        </fieldset>
        <div class="form-group">
          <button class="btn btn-info" type="submit">Reset password</button>
        </div>
      </form>
    </div>
  </div>
{% endblock content %}
